.table {
    background: gray;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.row {
    position: absolute;
    overflow: hidden;
    margin: 5%;
    width: 90%;
    height: 90%;
}
